@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.leaflet-popup-content-wrapper {
  width: 26rem;
  background-color: rgb(255, 255, 255);
  opacity: 90%;
}
.cluster-icon {
  background-color: rgba(0, 123, 255, 0.6);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.cluster-marker {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 123, 255, 0.6);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.leaflet-popup-content-wrapper {
  background-color: rgb(255, 248, 248) !important;
  opacity: 90%;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(1px) !important;
}
.pin-icon {
  background: transparent !important;
  border: none !important;
}
